brotli==1.0.7
cryptography==2.8
Cython==0.29.14
importlib_metadata==0.23
imutils==0.5.3
ipaddr==2.2.0
keyring==19.2.0
lockfile==0.12.2
lxml==4.6.2
mock==3.0.5
mypy_extensions==0.4.3
numpy==1.17.4
ordereddict==1.1
protobuf==3.10.0
pyOpenSSL==19.1.0
simplejson==3.17.0
toml==0.10.0
usercustomize==1.0.0
wincertstore==0.2
zipp==0.6.0
